:root {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #566473;
  background-color: #f1f4f9;
}

h2 {
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
