header{
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    width: 80vw;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #242424; */
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline-block;
    margin-right: 1rem;
}
nav ul li a{
    color: #566473;
    text-decoration: none;
    font-size: 1.2rem;
}