nav{
    /* background-color: #242424; */
    color: #fff;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100vh;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline-block;
    margin-right: 1rem;
}
nav ul li a{
    color: #566473;
    text-decoration: none;
    font-size: 1.2rem;
}